.dugme-stampa-mapaSajta{
    margin-left: 130px !important;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.dugme-stampa-mapaSajta-FAQ{
   
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px !important;
}
.dugme-stampa-mapaSajta-GALERIJA{
    margin-left: 135px !important;
    margin-top: 50px;
    margin-bottom: 30px;  
    margin-right: 60px;
}
.dugme-stampa-mapaSajta-USLUGE{
    margin-left: 80px !important;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 160px;
}
.dugme-stampa-mapaSajta-LOKACIJEteretana{
    margin-left: 95px !important;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.dugme-stampa-mapaSajta-OPREMA{
    margin-left: 80px !important;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
}